BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

BinPackArguments: false
BinPackParameters: OnePerLine
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakFunctionDefinitionParameters: false
PackConstructorInitializers: Never

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SortIncludes: false
NamespaceIndentation: None
